
  <section id="section6">

    <div class="last">
      <div style="display: inline-block;" class="">
        <p class="followUs">FOLLOW US</p>
        <a href="#"><i class="fab fa-instagram fa-1x face"></i></a>
        <a href="#"><i class="fab fa-facebook-f fa-1x face"></i></a>
        <a href="#"><i class="fab fa-linkedin-in fa-1x face"></i></a>
      </div>
    </div>

  </section>
  


  <script>
    function myFunction() {
        document.getElementById("LOG").submit();
    }
</script>



</body>

</html>
