<%- include("partials/header") -%>

<div class="container">
  <div style="padding-top: 50px;" class="">
    <form class="" action="/addreview" method="post">
      <h5 class="footerLines">Name:-</h5>
      <textarea readonly style="border-radius: 5px;" placeholder="Your Name"  name="userName" rows="1" cols="60"><%= userFirst %> <%= userLast %></textarea>
      <h5 class="footerLines" style="padding-top: 20px;">Write your review Here:-</h5>
      <textarea style="border-radius: 5px;" placeholder="Start to write!" name="reviewData" rows="8" cols="60"></textarea><br>
      <button style="margin-top: 10px;" class="Abutton" type="submit" name="button">Submit</button>
    </form>
  </div>

</div>


<%- include("partials/footer") -%>
